<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%="#{@user.name}さんの情報"%>
        <%= "#{@user.name}さんの投稿"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する 部分テンプレートまだ %>
        <%= render partial: "items/", collection: @prototypes%>
      </div>
    </div>
  </div>
</div>